BinaryReaderPlay/bin/
BinaryReaderPlay/obj/
*.suo
*.swp
*.cs~
*.orig
ISQL/bin/Debug/
ISQL/obj/Debug/
ISQL/bin/Release/
ISQL/obj/Release/ISQL.csproj.FileListAbsolute.txt
SqlDbSharpMacUI/bin
SqlDbSharpMacUI/obj
